body {
  background-color: antiquewhite;
}
h1 {
  color: beige;
  background-color: azure;
}
h2 {
  color: bisque;
  background-color: aquamarine;
}
h3 {
  color: blueviolet;
  background-color: blue;
}